html{
  margin: 0;
  padding: 0; 
}
body {
  font-family: "Allan"; font-variant: normal; 
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.418);
  font-size: 2.5em;
  color: #000000;
  background-color: #eee;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.80) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.80) 75%, rgba(0, 0, 0, 0.80)),
  linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.80) 75%, rgba(0, 0, 0, 0.80));
  background-size: 200px 200px;
  );
}
.main-content {
  min-height: 100vh;
  padding: 1em;
  margin: 0 0 0 3em;
  font-family: cursive;
}
h1 {
  text-transform: capitalize;
  margin: 0 0 1em 0;
  font-family: "Copperplate", fantasy; font-variant: normal; 
  color:white;
  background-color: rgba(245, 245, 245, 0.699);
  border-radius: 25px;
  -webkit-text-stroke: 7px rgba(0, 0, 0, 0.90);
  text-align: center;
}
p {
  margin: 2em 0
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.750);
  border-radius: 10px;
}
a.button, input.button {
  border: 1px solid #000000;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-decoration: under;
  background-color: #ffffff;
  color: #ff0000;
  box-shadow: 5px 5px 5px #999999;
}
a.button:hover {
  background-color: #000000;
  color: #ffffff;
}
input {
  padding: 0.5em;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.750);
  border-radius: 10px;
}
input.button {
  background-color: #99ff99;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 0 2em 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.750);
  border-radius: 10px;
}
table td, table th {
  padding: 0.25em;
  border: 1px solid #999999;
  padding: 0.5rem;
}
.spacer {
  text-align: center;
}
label {
  background-color: rgba(255, 255, 255, 0.750);
  border-radius: 10px;
}
img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.flag_h {
  background: repeating-linear-gradient(
  to right,

);
}
h2 {
  text-transform: capitalize;
  margin: 0 0 1em 0;
  font-family: "Copperplate", fantasy; font-variant: normal; 
  color:white;
  background-color: rgba(245, 245, 245, 0.699);
  border-radius: 25px;
  -webkit-text-stroke: 7px rgba(0, 0, 0, 0.90);
  text-align: center;
}