{% extends "base.html" %}

{% block content %}
  {% if buggy %}
    <h1>Edit buggy {{ buggy['id'] }}</h1>
  {% else %}
    <h1>Build a Buggy</h1>
  {% endif %}
  <p>
    {{msg}}
  </p>

  <form action="/new" method="post">
    <input type="hidden" name="id" value = "{{ buggy['id'] }}" /> <br> <br>   
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" required="required" value = "{{ buggy['qty_wheels'] }}" /> <br> <br>

    <label>
      Primary Motive Power:
      <select name="primary_motive_power">
        <option {% if  buggy['power_type']  == "pertol" %} selected {% endif %} value="petrol">--Petrol--</option>
        <option {% if  buggy['power_type']  == "fusion" %} selected {% endif %} value="fusion">--Fusion--</option>
        <option {% if  buggy['power_type']  == "steam" %} selected {% endif %} value="steam">--Steam--</option>
        <option {% if  buggy['power_type']  == "bio" %} selected {% endif %} value="bio">--Bio--</option>
        <option {% if  buggy['power_type']  == "electric" %} selected {% endif %} value="electric">--Electric--</option>
        <option {% if  buggy['power_type']  == "rocket" %} selected {% endif %} value="rocket">--Rocket--</option>
        <option {% if  buggy['power_type']  == "hamster" %} selected {% endif %} value="hamster">--Hamster--</option>
        <option {% if  buggy['power_type']  == "thermo" %} selected {% endif %} value="thermo">--Thermo--</option>
        <option {% if  buggy['power_type']  == "solar" %} selected {% endif %} value="solar">--Solar--</option>
        <option {% if  buggy['power_type']  == "wind" %} selected {% endif %} value="wind">--Wind--</option>
      </select> 
    </label> <br> <br>
    

    <label for="primary_motive_power_units">Primary Motive Power Units:</label>
    <input type="number" name="primary_motive_power_units" required="required" value = "{{ buggy['power_units'] }}" /> <br> <br>

    <label>
      Auxilary Motive Power:
      <select name="auxiliary_motive_power">
        <option {% if  buggy['aux_power_type']  == "" %} selected {% endif %} value="----">--choose backup power source--</option>
        <option {% if  buggy['aux_power_type']  == "pertol" %} selected {% endif %} value="petrol">--Petrol--</option>
        <option {% if  buggy['aux_power_type']  == "fusion" %} selected {% endif %} value="fusion">--Fusion--</option>
        <option {% if  buggy['aux_power_type']  == "steam" %} selected {% endif %} value="steam">--Steam--</option>
        <option {% if  buggy['aux_power_type']  == "bio" %} selected {% endif %} value="bio">--Bio--</option>
        <option {% if  buggy['aux_power_type']  == "electric" %} selected {% endif %} value="electric">--Electric--</option>
        <option {% if  buggy['aux_power_type']  == "rocket" %} selected {% endif %} value="rocket">--Rocket--</option>
        <option {% if  buggy['aux_power_type']  == "hamster" %} selected {% endif %} value="hamster">--Hamster--</option>
        <option {% if  buggy['aux_power_type']  == "thermo" %} selected {% endif %} value="thermo">--Thermo--</option>
        <option {% if  buggy['aux_power_type']  == "solar" %} selected {% endif %} value="solar">--Solar--</option>
        <option {% if  buggy['aux_power_type'] == "wind" %} selected {% endif %} value="wind">--Wind--</option>
      </select>
    </label> <br> <br>   

    <label for="auxiliary_motive_power_units">Auxiliary Motive Power Units:</label>
    <input type="number" name="auxiliary_motive_power_units" value = "{{ buggy['aux_power_units'] }}" /> <br> <br>

    <label for="hamster_booster">Hamster Booster:</label>
    <input type="number" name="hamster_booster" required ="required" value = "{{ buggy['hamster_booster'] }}"/> <br> <br>  

    <label for="flag_color">Flag Color 1:</label>
    <input type="color" name="flag_color" required="required" value = "{{ buggy['flag_color'] }}" /> <br> <br>

    <label>
      Flag Pattern:
      <select name="flag_pattern">
        <option {% if  buggy['flag_pattern']  == "plain" %} selected {% endif %} value="plain">--Plain--</option>
        <option {% if  buggy['flag_pattern']  == "vstripe" %} selected {% endif %} value="vstripe">--V Stripe--</option>
        <option {% if  buggy['flag_pattern']  == "hstripe" %} selected {% endif %} value="hstripe">--H Stripe--</option>
        <option {% if  buggy['flag_pattern']  == "dstripe" %} selected {% endif %} value="dstripe">--D Stripe--</option>
        <option {% if  buggy['flag_pattern']  == "checker" %} selected {% endif %} value="checker">--Checkered--</option>
        <option {% if  buggy['flag_pattern']  == "spot" %} selected {% endif %} value="spot">--Spot--</option>  
      </select> 
    </label> <br> <br>

    <label for="flag_color_secondary">Flag Color 2:</label>
    <input type="color" name="flag_color_secondary" required="required" value = "{{ buggy['flag_color_secondary'] }}" /> <br> <br>

    <label>
      Tyre Type:
      <select name="tyres">
        <option {% if  buggy['tyres']  == "knobbly" %} selected {% endif %} value="knobbly">--Knobbly--</option>
        <option {% if  buggy['tyres']  == "slick" %} selected {% endif %} value="slick">--Slick--</option>
        <option {% if  buggy['tyres']  == "steelbrand" %} selected {% endif %} value="steelbrand">--Steel Brand--</option>
        <option {% if  buggy['tyres']  == "reactive" %} selected {% endif %} value="reactive">--Reactive--</option>
        <option {% if  buggy['tyres']  == "maglev" %} selected {% endif %} value="maglev">--MAG_Lev--</option>
      </select> 
    </label> <br> <br>  

    <label for="qty_tyres">Number of Tyres:</label>
    <input type="number" name="qty_tyres" required="required" value = "{{ buggy['qty_tyres'] }}" /> <br> <br>

    <label >
      Armour:
      <select name="armour">
        <option {% if  buggy['armour']  == "" %} selected {% endif %} value="----">--Naked--</option>
        <option {% if  buggy['armour']  == "wood" %} selected {% endif %} value="wood">--Wood--</option>
        <option {% if  buggy['armour']  == "aluminum" %} selected {% endif %} value="aluminum">--Aluminum--</option>
        <option {% if  buggy['amrour']  == "thinsteel" %} selected {% endif %} value="thinsteel">--Thin Steel--</option>
        <option {% if  buggy['armour']  == "thicksteel" %} selected {% endif %} value="thicksteel">--Thicc Steel--</option>
        <option {% if  buggy['armour']  == "titanium" %} selected {% endif %} value="titanium">--Titanium--</option>
      </select> 
    </label> <br> <br>  

    <label>
      Attack:
      <select name="attack">
        <option {% if  buggy['attack']  == "" %} selected {% endif %} value="----">--Pacifist--</option>
        <option {% if  buggy['attack']  == "spike" %} selected {% endif %} value="spike">--Spikes--</option>
        <option {% if  buggy['attack']  == "flame" %} selected {% endif %} value="flame">--Flame Thrower--</option>
        <option {% if  buggy['attack']  == "charge" %} selected {% endif %} value="charge">--Tackle--</option>
        <option {% if  buggy['attack']  == "biohazard" %} selected {% endif %} value="biohazard">--Poison--</option>
      </select> 
    </label> <br> <br>  

    <label for="qty_attacks"> Number of Attacks:</label>
    <input type="number" name="qty_attacks" required="required" value="{{ buggy['qty_attacks'] }}" autocomplete="" /> <br> <br>  

    <P>Is Your Buggy Fireproof ?</P> 
    <label>
      <input type="radio" class="button" name="fireproof" {% if  buggy['fireproof']  == "True" %} checked {% endif %} value="True" >
      Yes
    </label><br>
    <label>
      <input type="radio" class="button" name="fireproof" {% if  buggy['fireproof']  == "False" %} checked {% endif %} value="False" >
      No
    </label><br> <br>

    <P>Is Your Buggy Insulated ?</P> 
    <label>
      <input type="radio" class="button" name="insulated" {% if  buggy['insulated']  == "True" %} checked {% endif %} value="True" >
      Yes
    </label><br>
    <label>
      <input type="radio" class="button" name="insulated" {% if  buggy['insulated']  == "False" %} checked {% endif %} value="False" >
      No
    </label><br> <br>

    <P>Did You Take Your Antibiotics ?</P> 
    <label>
      <input type="radio" class="button" name="antibiotic" {% if  buggy['antibiotic']  == "True" %} checked {% endif %}value="True" >
      Yes
    </label><br>
    <label>
      <input type="radio" class="button" name="antibiotic" {% if  buggy['antibiotic']  == "False" %} checked {% endif %} value="False" >
      No
    </label><br> <br>

    <P>Do You Have Surround Sound ?</P> 
    <label>
      <input type="radio" class="button" name="banging" {% if  buggy['banging']  == "True" %} checked {% endif %} value="True" >
      Yes
    </label><br>
    <label>
      <input type="radio" class="button" name="banging" {% if  buggy['banging']  == "False" %} checked {% endif %} value="False" >
      No
    </label><br> <br>

    <label>
      Buggy Operating Software:
      <select name="algo">
        <option {% if  buggy['algo']  == "steady" %} selected {% endif %} value="steady">--Slow and Steady--</option>
        <option {% if  buggy['algo']  == "defensive" %} selected {% endif %} value="defensive">--Defender--</option>
        <option {% if  buggy['algo']  == "offensive" %} selected {% endif %} value="offensive">--Offender--</option>
        <option {% if  buggy['algo']  == "titfortat" %} selected {% endif %} value="titfortat">--Tit for Tat--</option>
        <option {% if  buggy['algo']  == "random" %} selected {% endif %} value="random">--Random--</option>
        <option {% if  buggy['algo']  == "buggy" %} selected {% endif %} value="buggy">--Buggy--</option>
      </select> 
    </label>  <br> <br>

    <input type="submit" class="button">

  </form>


  <pb>
    <a href="/" class="button">home</a>
  </pb>

{% endblock %}

